.cabeça{
    display:flex;
    height: 100px;
    width: 1440px;
}
.cabeça1{
    display: flex;
    width: 1440px;
    height:100px ;
    justify-content:center;
    align-items: center;
}
.cabeça2{
    padding: 20px;
    justify-content: flex-end;
}
.cabeça3{
    padding: 20px;
    justify-content: flex-end;
}
.cabeça4{
    padding: 20px;
    justify-content: flex-end;
}
.abaixocabeça{
    display: flex;
    height: 300PX;
    width:1440PX;
    justify-content: flex-end;
    align-items: flex-start;
}
.imagem{
    width: 300px;
    justify-self: flex-end;
    align-items: center;
}
.abaixocabeça1{
   flex-direction: column;
   width: 1440px;
   width: 300px;
   size: 44ch;
   justify-content: center; 
}
.abaixocabeça2{
    flex-direction: column;
    width: 400px;
    height: 300px;
}
